.VPDoc .common-git-card {
    margin: 16px 0;
}
.VPDoc .common-git-card h2 {
    margin: 48px 0 16px;
    border-top: 1px solid var(--vp-c-divider);
    padding-top: 24px;
    letter-spacing: -0.02em;
    line-height: 32px;
    font-size: 24px;
    position: relative;
    font-weight: 600;
    outline: none;
}

.VPDoc .common-git-card .flex-warp {
    display: flex;
    flex-wrap: wrap;
}

.VPDoc .contributors {
    justify-content: flex-end;
}
.VPDoc .contributor-item {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    transition: all 0.2s;
    border-radius: 50%;
    border: 2px solid var(--vp-c-gray-1);
    overflow: hidden;
}
.VPDoc .contributor-item:hover {
    transform: scale(1.1);
    border-color: var(--vp-c-brand-1);
}
.VPDoc .contributor-item  + .contributor-item {
    margin-left: -12px;
}

.VPDoc .contributor-item:hover .contributor-avatar {
    transform: scale(0.85);
}
.VPDoc .contributor-item .contributor-avatar {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: 50%;
    transition: all 0.2s;
}

.VPDoc .changelog {
    list-style-type: disc;
    padding: 0 32px;
}
.VPDoc .changelog-item .commit-time {
    color: var(--vp-c-gray-1);
    font-size: var(--vp-code-font-size);
    margin: 0 0.5em;
}
.VPDoc .changelog-item .commit-link {
    font-weight: 500;
    color: var(--vp-c-brand-1);
    transition: color 0.25s;
    margin: 0 0.5em;
}
